// Design parameters declaration in here

$color_alert: rgb(250, 0, 0);

$filler_s: 8px;
$filler_m: 20px;
$filler_b: 50px;

$color_placeholder: greenyellow;

$color_background: rgba(159, 255, 203, 1);
$color_primary: rgba(0, 78, 100, 1);
$color_secondary: rgba(0, 165, 207, 1);
$color_text-alternative: rgba(37, 161, 142, 1);
$color_text: rgba(122, 229, 130, 1);

$font-size_s: 10px;
$font-size_m: 18px;
$font-size_mb: 32px;
$font-size_b: 44px;