// Main style hook, and definition of specific identifiers in here

@use 'sass:math';
@import 'system';

body {
  @extend .font-serif;
  background-color: $color_background;
}

header {
  
  div {
    display: block;
    margin: $filler_b auto;
    width: max-content;
    border: 4px solid $color_secondary;
    background-color: $color_primary;    
    border-radius: 75px;
    padding: $filler_s $filler_s*4;
    h1 { color: $color_text;}
  }
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0px auto;
  & > div {    
    margin: 0px $filler_s;
  }
}

#new-song {

}

#content {
  display: flex;
  width: 100%;
}

#current-song {
  text-align: center;
  & > * { margin: $filler_m 0px;}
  iframe { 
    padding: 0px $filler_b;
    width: calc(100% - ($filler_b * 2));
  }
}

#navigator {
  max-width: 70%;
}

#navigator-tags {
  & > div {
    display: flex;
  }
}

#explorer {
  h2 {
    text-align: center;
    color: $color_primary;
  }
  width: 30%;
  margin: 0px $filler_m;
  padding: 0px $filler_m;
  background-color: $color_secondary;
  border-radius: 25px;
  border: 4px solid $color_primary;
}
