// Definition of design tokens and generic classes in here

@import 'assets';
@import 'parameters';

.debug {
  border: 1px solid $color_alert;
}

.font-mono { font-family: 'Major Mono Display', monospace; }
.font-display { font-family: 'Righteous', cursive; }
.font-serif { font-family: 'Bree Serif', serif; }

.smoothing {
  transition: all 0.15s;
  &:hover { transition: all 0.15s; }
}

p, label {
  margin: 0px;
  color: $color_text-alternative;
}

button {
  @extend .smoothing;
  color: $color_primary;
  background-color: $color_text;
  padding: $filler_s;
  margin: 0px $filler_s;
  font-weight: bold;
  border: 2px solid $color_primary;
  border-radius: 25px;
  cursor: pointer;
  &:hover {
    background-color: $color_primary;
    color: $color_text;
  }
}

input {
  margin: 0px $filler_s;
  height: 30px;
  border-radius: 25px;
  border: 2px solid $color_primary;
  padding: 0px $filler_m;
  margin: $filler_m 0px;
}

span {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  @extend .font-display;
}

h1 {
  font-size: $font-size_b;
  color: $color_primary;
}

h2, h3, h4, h5, h6 {
  font-size: $font-size_mb;
  color: $color_secondary;
}

.tag {    
  @extend .smoothing;
  @extend .font-mono;
  font-size: $font-size_m;
  min-width: 110px;
  text-align: center;
  padding: $filler_s;
  margin: $filler_s;
  background-color: $color_placeholder;
  border: 2px solid $color_placeholder;
  border-radius: 25px;
  color: $color_primary;
  cursor: pointer;
  &:hover {
    background-color: $color_primary;
    color: $color_placeholder !important;
    font-weight: bold;
  }
}

.song {
  @extend .smoothing;
  border: 2px solid $color_primary;
  background-color: $color_primary;
  border-radius: 25px;
  cursor: pointer;
  padding: $filler_s $filler_m;
  margin: $filler_s 0px;
  color: $color_text;
  &:hover {
    background-color: $color_text;
    color: $color_primary;
  }
}

.navigator {
  & > div {
    display: flex;
    flex-flow: wrap;
  }
}
